body{
    background-image: url(logo.jpg);
}

h1{
    display: flex;
    justify-content: center;
    font-size: 180px;
    color: white;
    padding-top: 8,7%;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
}
p{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
}
a{
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: white;
}